<component name="ArtifactManager">
  <artifact type="war" name="SpringSecurityOAuth2Example:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityOAuth2Example.war">
      <element id="artifact" artifact-name="SpringSecurityOAuth2Example:war exploded" />
    </root>
  </artifact>
</component>